.connectwalletBth{
  border-radius: 20px;
  float: right;
  margin:10px;
}
.submitBtn{
  border-radius: 30px !important;
  margin-top: 20PX;
}
.connectwalletBth{
  font-size: 20px  !important;
  border-radius: 20px !important;
}
.display-flex{
  display:flex;
  justify-content: center;
  align-items: center;
}
.input-form{
width:400px;
}
.whitelistContainer{
  width:fit-content !important;
}